/* Footer */
@font-face {
  font-family: montserrat;
  src: url("../screens/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montserrat-bold;
  src: url("../screens/fonts/Montserrat-Bold.ttf");
}
#footer {
   
  text-align: center;
  }
.services{
  color: grey;
  font-size: 10px;
  margin-left: 5%;

}